<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.polyucloud.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.polyucloud.app.CloudBackupApplication"
        android:allowBackup="true"
        android:icon="@drawable/cloud"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.polyucloud.app.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.polyucloud.app.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.polyucloud.app.CloudListActivity"
            android:label="@string/title_activity_list_content"
            android:logo="@drawable/cloud"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.polyucloud.app.UploadActivity"
            android:label="@string/title_activity_upload_file"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.polyucloud.app.ListDownloadedFileActivity"
            android:label="@string/title_activity_list_downloaded_file"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.polyucloud.app.DragUpload"
            android:label="@string/title_activity_drag_upload" >

        </activity>
    </application>

</manifest>
